.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 48px;
    background: var(--color-white); 
    border-radius: 45px;
    align-items: center;
    padding: 0 15px;

    &_mini{
        background: transparent;
        align-self: flex-end;
        flex-direction: column;
        justify-content: center;
        width: 54px;
        height: 54px;
        padding: 0;
        cursor: pointer;
        
        &:hover{
            box-shadow: var(--box-shadow-hover-effect-light);
        }
        .search{
            &__input{
                display: none;
            }
            &__btn-delete{
                display: none;
            }
        }
    }
    &__input{
        width: 100%;
        height: 48px;
        background: transparent;
        border: none;
        color: var(--color-black);
        font-size: 16px;
        outline: 0;
    }
    &__icon{
        display: none;
        &_active{
            display: block;
        }
    }
    &__btn-delete{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:48px;
        width: 48px;
        border-radius: 90px;
        border: none;
        background: transparent;
        cursor: pointer;
        transform: translate(15px);
        svg{
            fill: var(--color-gray) ;
        }
        &:hover {
            box-shadow: var(--box-shadow-hover-effect-dark);
        }
    
        &_active {
            display: flex;
        }
    }
    &_active{
        display: flex;
    }

}