.link {
    font-size: 21px;
    display: flex;
    gap: 7px;
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
    border-radius: 45px;
    transition: .2s;

    .icon {
        fill: var(--color-white);
    }

    &_active {
        background: var(--color-white);
        color: var(--color-black);

        .icon {
            fill: var(--color-black);
        }
    }

    &:hover {
        box-shadow: var(--box-shadow-hover-effect-light);
        transition: .2s;
    }

    &:active {
        transform: scale(.95)
    }
}