.page{
    margin-top: 90px;
    .pin{
        display: flex;
        margin: 0 auto; 
        border-radius: 16px;
        height: auto;
        min-width: 510px;
        max-width: 1020px;
        background: #000;

        .info{

        }
    }
}