.page{
    margin-top: 90px;
    .pin{
        display: flex;
        margin: 0 auto; 
        border-radius: 16px;
        min-width: 510px;
        max-width: 1020px;
    
        .info{
            padding: 20px 30px;
            width: 50%;

            &__header{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .share_container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 30%;
                }
                .accountSave{

                    &_container{
                        gap: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    &_btn{
                        color: var(--color-white-full);
                        background: var(--color-red);
                        &:hover {
                            box-shadow: var(--box-shadow-hover-effect-dark);
                        }
                    }   
                }
            }
            .profile_container{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .profile{
                    padding: 5px 0;
                }
                .byDownload{
                    display: flex;
                    align-items: flex-end;
                    gap: 5px;
                    .title{
                        margin: 5px 0;
                        font-size: 21px;
                    }
                }
            }
        }
        @media screen and (max-width: 1060px) {
            align-items: center;
            flex-direction: column;
            width:fit-content ;
            .info{
                padding: 10px 0;
                width: auto;
                &__header{
                    flex-wrap: wrap;
                    gap: 10px;
                    .share_container{
                        min-width: fit-content;
                    }
                }
            }
        }
    }
}