.page{
    margin-top: 90px;
    .pin{
        display: flex;
        margin: 0 auto; 
        border-radius: 16px;
        height: auto;
        min-width: 510px;
        max-width: 1020px;

        .info{
            padding: 20px;
            width: 50%;
            &__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #000;
                .share_container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 30%;
                }
                .profile_container{
                    gap: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__btn{
                        color: var(--color-white-full);
                        background: var(--color-red);
                        &:hover {
                            box-shadow: var(--box-shadow-hover-effect-dark);
                        }
                    }   
                }
            }
        }
    }
}