@import url("./fonts/fonts.css");
@import url("normalize.css");

:root {
	--color-black: #1b1b1b;
	--color-white: #d6d6d6;
	--color-white-full: #fff;
	--color-gray: #767676;
	--color-dark-gray: #5e5e5e;
	--color-red: #e60023;
	--box-shadow-hover-effect-dark: inset 0 0 1000px #00000030;
	--box-shadow-hover-effect-light: inset 0 0 1000px #ffffff30;
	--font-default: "Roboto Mono", 'Kanit', 'Open Sans', sans-serif;	
	--margin-top-default: 90px;

}
::-webkit-scrollbar{
	background: transparent;
	width: 10px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: var(--color-white);
}
::-webkit-scrollbar-thumb:hover{
	background: #ffffff90;
}
body {
	font-family: var(--font-default);
	padding: 10px 0px 10px 20px;
	margin: 0;
	font-weight: 400;
	background: var(--color-black);
	color: var(--color-white);
}
input{
	font-family: var(--font-default);
	font-weight: 400;
}
a {
	font-family: var(--font-default);
	color: inherit;
	text-decoration: none;
}
svg{
	fill: var(--color-gray);
}
* {
	box-sizing: border-box;
}
